params {
    data_dir                   = 'data/test_data_1'
    outdir                     = 'outdir'
    samplesheet                = 'data/test_data_1/samplesheet_test_data_1_multi_ref_grouping.csv'
    reference_fasta            = 'data/test_data_1/references.fa'

    trim_left                  = 50
    trim_right                 = 50
    trim_stringency_decompose  = 0
    trim_stringency_align      = 0
    trim_stringency_assemble   = 4

    tracy_image                = 'geargenomics/tracy:latest'
    container_platform         = 'linux/amd64'
}

docker {
    enabled                   = true
    runOptions                = '--platform linux/amd64'
}

process {
    errorStrategy             = 'terminate'
}

profiles {
    docker {
        docker.enabled        = true
        singularity.enabled   = false
    }
}

manifest {
    name                      = 'dsp_bulk-sangerseq'
    author                    = 'biosustain'
    homePage                  = 'https://github.com/biosustain/dsp_bulk-sangerseq'
    description               = 'Nextflow pipeline for bulk Sanger sequencing analysis using Tracy'
    mainScript                = 'main.nf'
    nextflowVersion           = '!>=23.10.0'
    version                   = '1.1.0'
    defaultBranch             = 'main'
}
