includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

params {
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/biosustain/configs/${params.custom_config_version}"
}


profiles {
    test {
        includeConfig 'conf/test.config'
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
    }
}

manifest {
    name = 'biosustain/dsp_bulk-sangerseq'
    author = 'biosustain'
    homePage = 'https://github.com/biosustain/dsp_bulk-sangerseq'
    description = 'Nextflow pipeline for bulk Sanger sequencing analysis using Tracy'
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.10.0'
    version = '1.1.0-dev'
    defaultBranch = 'main'
}
