params {
    data_dir                 = "${projectDir}/data/test_data_1"
    samplesheet              = "${projectDir}/data/test_data_1/samplesheet_test_data_1_multi_ref_grouping_9samples.csv"
    reference_fasta          = "${projectDir}/data/test_data_1/references.fa"
    outdir                   = 'outdir'
}

docker.enabled  = true
singularity.enabled = false
